<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="masterEntities" connectionString="metadata=res://*/AutoReservationEntities.csdl|res://*/AutoReservationEntities.ssdl|res://*/AutoReservationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoReservationEntities" connectionString="metadata=res://*/AutoReservationEntities.csdl|res://*/AutoReservationEntities.ssdl|res://*/AutoReservationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AutoReservation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>